version: '3.9'

services:
  # SeaweedFS Master
  master:
    image: chrislusf/seaweedfs:latest
    ports:
      - "9333:9333"
    command: "master -ip=master"

  # SeaweedFS Volume
  volume:
    image: chrislusf/seaweedfs:latest
    ports:
      - "8080:8080"
    command: "volume -mserver=master:9333 -port=8080"
    depends_on:
      - master

  # SeaweedFS Filer (provides S3 API)
  filer:
    image: chrislusf/seaweedfs:latest
    ports:
      - "8888:8888"
      - "8333:8333"
    command: "filer -master=master:9333 -s3 -s3.port=8333"
    depends_on:
      - master
      - volume
